cat > .env.local << 'EOF'
DATABASE_URL="postgresql://postgres:6GfK6J&m6&+Esw7@db.qeoxjzcjkazyjikhvnab.supabase.co:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://qeoxjzcjkazyjikhvnab.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_znmJXWuFngy4Ri2geZqf-g_ELeRPaj8"
EOF 